body {
    font-family: 'Playfair Display', sans-serif;
    background-color: #F1EDEE;
}

header {
    font-size: 3em;
    color: #3D5467;
}

#subtitle {
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

#container {
    background-color: #fff;
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

input[type="text"], input[type="number"] {
    display: block;
    font-size: 1.2em;
    font-family: 'Playfair Display', sans-serif;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#booklist {
    margin: 0;
    padding-left: 2px;
}

li {
    list-style-type: none;
    justify-content: space-between;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 100px);
    align-items: center;
}

li div:first-child {
    font-weight:600;
}

li div:nth-child(-n+2) {
    grid-column: span 2;
  }

/* li div:nth-child(4) {
    justify-self: space-around;
    color: aqua;
} */


.hide {
    display: none;
}

#container2 {
    display: flex;
    justify-content: center;
}

#newbook,
#add, #clear {
    display: block;
    margin: 20px auto;
    width: 90px;
}

button,
.delete {
    padding: 8px;
    border: 0px transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    text-align: center;
    font-family: 'Playfair Display';
}

button {
    background-color: #8AA29E;
}

button:hover {
    background-color: #688d87;
    cursor: pointer;
}

.delete,
#clear {
    background-color: #D9556D;
}

.delete:hover,
#clear:hover {
    background-color: #d42646;
    cursor: pointer;
}

#booklist input {
    display: none;
}

#booklist input+label:before {
    content: "Not Read";
    padding: 7px 12px;
    border: 1px solid #8AA29E;
    border-radius: 5px;
    color: #8AA29E;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    width: 80px;
    cursor: pointer;
    /* margin: 0 8px; */
}

#booklist input:checked+label:before {
    content: "Read";
    border: 1px solid #8AA29E;
    background-color: #8AA29E;
    color: #fff;
    width: 80px;
}

a {
    color: #3D5467;
    text-decoration: none;
}

a:hover {
    color: #d42646;
    text-decoration: underline;
}

@media only screen and (max-width: 480px) {
    li {
        display: flex;
        flex-direction:column;
    }
    .delete {
        width: 90px;
    }
  }